<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets\Imagenes\isotipo.png" alt="Logo" width="75" height="100">
    </a>

    <ul class="navbar-nav me-auto nav-pills">
      <li class="nav-item">
        <a class="nav-link active text-white fs-4" aria-current="page" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="/reportes">Listado de reportes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="/horario">Horario</a>
      </li>
    </ul>
    <div>
      <button class="btn btn-info fs-4 m-1" (click)="abrirModalAdministrarCuenta()">Administrar cuenta</button>
    </div>
    <div>
      <button class="btn btn-danger fs-4" (click)="eliminarDatoDelLocalStorage()">Cerrar sesión</button>
    </div>
  </div>
</nav>

<div id="ModalAdministrarCuenta" class="modal">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalAdministrarCuenta(false)">&times;</span>
    <div class="row" >
      <div class="col-md-10" >
        <div class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <form [formGroup]="formularioUsuario">
                  <div class="form-group" id="fotoM" style="display: flex; align-items: center; justify-content: center;">
                    <label for="Nombre">Foto de perfil:</label>
                    <div class="cargando" *ngIf="cargandoFotografia">
                      <span class="loader"></span>  
                    </div>
                    <img  *ngIf="!cargandoFotografia" id="foto" src={{imageUrl}} class="mx-auto">
                    <div id="fotoS">
                      <input type="file" (change)="onfileChange($event)" class="btn btn-warning">
                    </div>
                  </div>
                    <div class="form-group">
                      <label for="Nombre">Nombre:</label>
                      <input type="text" id="Nombre" formControlName="Nombre">
                      <div
                        *ngIf="formularioUsuario.get('Nombre')?.hasError('required') && formularioUsuario.get('Nombre')?.touched">
                        El Nombre es obligatorio.
                      </div>
                    </div>
              
                    <div class="form-group">
                      <label for="Apellido">Apellido:</label>
                      <input type="text" id="Apellido" formControlName="Apellido">
                      <div
                        *ngIf="formularioUsuario.get('Apellido')?.hasError('required') && formularioUsuario.get('Apellido')?.touched">
                        El Apellido es obligatorio.
                      </div>
                    </div>
              
                    <div class="form-group">
                      <label for="Mail">Correo Electrónico:</label>
                      <input type="email" id="Mail" formControlName="Mail" class="form-control form-control-sm">
                      <div *ngIf="formularioUsuario.get('Mail')?.hasError('required') && formularioUsuario.get('Mail')?.touched">
                        El correo electrónico es obligatorio.
                      </div>
                      <div *ngIf="formularioUsuario.get('Mail')?.hasError('Mail') && formularioUsuario.get('Mail')?.touched">
                        Ingresa un correo electrónico válido.
                      </div>
                    </div>
              
                    <div class="form-group">
                      <label for="Contrasenia">Contraseña:</label>
                      <input type="text" id="Contrasenia" formControlName="Contrasenia" class="form-control form-control-sm" >
                      <div *ngIf="formularioUsuario.get('Contrasenia')?.hasError('required') && formularioUsuario.get('Contrasenia')?.touched">
                        La contraseña es obligatoria.
                      </div>
                      <div *ngIf="formularioUsuario.get('Contrasenia')?.hasError('minlength') && formularioUsuario.get('Contrasenia')?.touched">
                        La contraseña debe tener al menos 8 caracteres.
                      </div>
                    </div>
                    <div id="editar">
                      <button [disabled]="formularioUsuario.invalid" class="btn btn-info" id="editar" (click)="cerrarModalAdministrarCuenta(true)">Editar datos</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>