<div class="background">
  <footer >

    <ul *ngIf="this.homeService.datoLocalStorage.IdRol!=0" class="nav justify-content-center border-bottom">

      <li *ngIf="this.homeService.datoLocalStorage.IdRol!=3" class="nav-item"><a routerLink="/home" class="nav-link px-2 text-muted">
        <p class="vinculos">Inicio</p></a></li>

      <li class="nav-item"><a routerLink="/reportes" class="nav-link px-2 text-muted"><p class="vinculos">Listado de reportes</p></a></li>

      <li *ngIf="this.homeService.datoLocalStorage.IdRol==1" class="nav-item"><a routerLink="/horario" class="nav-link px-2 text-muted">
        <p class="vinculos" >Horario</p></a></li>

      <li *ngIf="this.homeService.datoLocalStorage.IdRol!=3" class="nav-item"><a routerLink="/dashboard" class="nav-link px-2 text-muted">
        <p class="vinculos">Dashboard</p></a></li>
    </ul>

    <ul class="nav justify-content-center border-bottom">
        <li class="nav-item">
            <a href="https://www.ubiobio.cl/w/" class="navbar-brand">
                <img src="https://www.ubiobio.cl/w/img/Escudo-UBB.svg" alt="Logo" width="150" height="150">
              </a>
        </li>
    </ul>
    <p class="text-center text-muted">&copy;2023 Todos los Derechos Reservados - Universidad del Bío-Bío</p>
  </footer>
</div>

