<div class="fondo">
  <div class="container">
    <form>
        <img class="mb-4" src="../../assets/Imagenes/EscudoUbb.png">
        <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

        <div class="form-floating">
          <input #email type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Correo electronico</label>
        </div>
        <div class="form-floating">
          <input #password type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="form-check text-start my-3"></div>
        <button class="btn btn-primary w-100 py-2" type="button" (click)="IniciarSesion(email.value,password.value)">Iniciar sesión</button>
      </form>
</div>
</div>
