.fondo {
  background-image: url('../../assets/Imagenes/tiled_background_image.png');
  background-size: 100% 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 30%;
  text-align: center;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #F7F7F7;
}

img {
  width: 80%;
  height: 80%;
}
