.fondo{
  background-image: url('../../assets/Imagenes/FondoUBB.png');
  background-size: 100% 100%; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 30%;
  text-align: center; 
  margin: auto;
}
img{
  width:80%;
  height:80%;
}