<h5>Niveles de CO2</h5>
<apx-chart
  [series]="chart1options.series!"
  [chart]="chart1options.chart!"
  [colors]="chart1options.colors!"
  [yaxis]="chart1options.yaxis!"
  [dataLabels]="commonOptions.dataLabels!"
  [markers]="commonOptions.markers!"
  [stroke]="commonOptions.stroke!"
  [grid]="commonOptions.grid!"
  [xaxis]="commonOptions.xaxis!"
  [tooltip]="commonOptions.tooltip!"
></apx-chart>
<h5>Niveles de tvoc</h5>
<apx-chart
  [series]="chart2options.series!"
  [chart]="chart2options.chart!"
  [colors]="chart2options.colors!"
  [yaxis]="chart2options.yaxis!"
  [dataLabels]="commonOptions.dataLabels!"
  [markers]="commonOptions.markers!"
  [stroke]="commonOptions.stroke!"
  [grid]="commonOptions.grid!"
  [xaxis]="commonOptions.xaxis!"
  [tooltip]="commonOptions.tooltip!"
></apx-chart>