.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondocrema{
  background-color: #F5F5F5;
}

.btn-danger{
  background-color: #D15B47;
}

.btn-warning{
  background-color: #FF893C;
}
.btn-info{
  background-color: #6FB3E0;
}

.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.cerrar:hover {
  color: red;
}

#tarjetaTabla {
  margin: 5vh;
}

.tabla {
  padding-top: 2%;
}


.center {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.cargando {
  padding-top: 10%;
  padding-bottom: 35%;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.roww,
#fotoM,
#fotoS,
#editar {
  display: flex;
  flex-direction: column;
  /* Alinea verticalmente el contenido */
  justify-content: center;
  /* Centra verticalmente el contenido */
  align-items: center;
  /* Centra horizontalmente el contenido */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
