<p>Listado de reprotes</p>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Carrera</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Aula</th>
        <th scope="col">Realizado por</th>
        <th scope="col">Respaldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repor of reportes">
        <th scope="row">{{reportes.indexOf(repor)+1}}</th>
        <td>{{repor.FechaReporte}}</td>
        <td>{{repor.NomCarrera}}</td>
        <td>{{repor.NomCurso}}</td>
        <td>{{repor.NomProfesor}}</td> 
        <td>{{repor.NomAula}}</td>
        <td>{{repor.NomUsuario}} {{repor.ApeUsuario}}</td>
        <td>
          <button class="btn btn-primary d-inline-flex align-items-center" type="button" (click)="abrirModal(repor.IdDatos,repor.NomAula,repor.CapturaFotografica)">
            Visualizar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="miModal" class="modal">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModal()">&times;</span>
    <h2>Registrado en el aula {{NombreAula}} </h2>
    <img src={{CapturaFotografica}} alt="Imagen">
    <p>Codigo del correo: SISAULAS{{CodigoCorreo}}</p>
    <button (click)="okClicked()">OK</button>
  </div>
</div>