<app-header></app-header>
<div class="container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-12">
                <div class="card-body">
                  <app-humedad></app-humedad>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-12">
                <div class="card-body">
                  <app-co2></app-co2>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card-body">
            <div class="row">
              <div class="col-md-1">
                <div style="height:  370px; width: 0.1px; background-color: rgb(255, 255, 255);"></div>
              </div>
              <div class="col-md-10 ">
                <div class="card mb-12">
                  <app-iluminica></app-iluminica>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>