<div id="ModalCorreo" class="modal">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarrModalCorreo(false,false)">&times;</span>
    <h2>Crear correo</h2>
    <form [formGroup]="formularioCorreo">
      <div class="form-group">
        <label for="NomCoordinador">Nombre del Cordinador:</label>
        <input type="text" id="NomCoordinador" formControlName="NomCoordinador">
      </div>
      <div class="form-group">
        <label for="NomAula">Nombre del aula:</label>
        <input type="text" id="NomAula" formControlName="NomAula">
      </div>
      <div class="form-group">
        <label for="Fecha">Fecha:</label>
        <input type="text" id="Fecha" formControlName="Fecha">
      </div>
      <div class="form-group">
        <label for="NomCurso">Nombre del curso:</label>
        <input type="text" id="NomCurso" formControlName="NomCurso">
        <div
          *ngIf="formularioCorreo.get('NomCurso')?.hasError('required') && formularioCorreo.get('NomCurso')?.touched">
          El Nombre de la curso es obligatorio.
        </div>
      </div>
      <div class="form-group">
        <label for="NomCarrera">Nombre de la carrera:</label>
        <select #select (change)="carreraSInputChange($event)" class="custom-select form-control">
          <option *ngFor="let carreras of carrerasSede" [value]="carreras.IdCarrera">{{carreras.NomCarrera}}</option>
        </select>
        <div
          *ngIf="formularioCorreo.get('NomCarrera')?.hasError('required') && formularioCorreo.get('NomCarrera')?.touched">
          El Nombre de la carrera es obligatorio.
        </div>
      </div>
      <button (click)="cerrarrModalCorreo(true,false)" [disabled]="formularioCorreo.invalid"
        class="btn btn-info">Generar correo</button>
    </form>
  </div>
</div>


<div id="ModalCorreoPrev" class="modal">
  <div class="modal-content">
    <h1 class="modal-title">Previsualización del correo</h1>
    <div class="justificado">
      <div class="encabezado">
        <h1>Asunto: Reporte de Desuso de Aula de Clases</h1>
      </div>
      <div class="contenido">
        <p>Estimada {{formularioCorreo.get('NomCoordinador')?.value}}</p>
        <p>Le notifico que en el campus {{formularioCorreo.get('NomSede')?.value}}, el aula {{formularioCorreo.get('NomAula')?.value}} 
          reservada para la clase {{formularioCorreo.get('NomCurso')?.value}} con código {{formularioCorreo.get('Codigo')?.value}} 
          de la carrera {{formularioCorreo.get('NomCarrera')?.value}} se encontró desocupada durante horarios de clases el 
          {{formularioCorreo.get('Fecha')?.value}}.</p>
        <p>Esta información fue ratificada por el encargado de aula {{this.homeService.datoLocalStorage.NomUsuario}} {{this.homeService.datoLocalStorage.ApeUsuario}}, 
          se adjunta captura fotográfica del aula en el momento de desusos como evidencia.</p>
        <img class="imagen-centrada" [src]="formularioCorreo.get('CapturaFotografica')?.value">
        <p class="pie-pagina">Sistema de monitoreo de aulas universidad del BIO-BIO.</p>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <button type="button" class="btn btn-info m-2" (click)="EnviarCorreo()">Enviar</button>
      <button type="button" class="btn btn-danger" (click)="cerrarrModalCorreoPre()">Reeditar</button>
    </div>
  </div>
</div>