<app-header></app-header>


<div class="fondocrema">
  <app-campus></app-campus>
  <div class="contiene">
    <div class="contiene">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-body">
                <div>
                  <div style="display: flex; align-items: center; justify-content: center;">
                    <button *ngFor="let aula of Aulas" class="btn btn-info fs-4 m-1"
                      (click)="selecionarAula(aula.NomAula,aula.IdAula)">
                      {{ aula.NomAula }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="encargado">

            <div *ngIf="Idaula==-1" class="alert alert-warning card-title mb-4" >
              <h2>Selecione un aula</h2>
            </div>

            <div *ngIf="Idaula!=-1" class="alert alert-primary card-title mb-4" >
              <h2>Horario del aula {{Nomaula}}</h2>
            </div>

          </div>
        </div>
      </div>
      <div class="cargando" *ngIf="this.booleanhorario==1">
        <span class="loader"></span>
      </div>
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-body" >
                <div class="d-flex align-items-center justify-content-between"  [hidden]="this.booleanhorario==2">
                  <table id="tabla" #tabla>
                    <thead>
                      <tr>
                        <th class="date-column"></th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="date-column">08:10 08:50</td>
                        <td class="dato" id="11"></td>
                        <td class="dato" id="12"></td>
                        <td class="dato" id="13"></td>
                        <td class="dato" id="14"></td>
                        <td class="dato" id="15"></td>
                      </tr>
                      <tr>
                        <td class="date-column">08:50 09:30</td>
                        <td id="21"></td>
                        <td id="22"></td>
                        <td id="23"></td>
                        <td id="24"></td>
                        <td id="25"></td>
                      </tr>
                      <tr>
                        <td class="date-column">09:40 10:20</td>
                        <td id="31"></td>
                        <td id="32"></td>
                        <td id="33"></td>
                        <td id="34"></td>
                        <td id="35"></td>
                      </tr>
                      <tr>
                        <td class="date-column">10:20 11:00</td>
                        <td id="41"></td>
                        <td id="42"></td>
                        <td id="43"></td>
                        <td id="44"></td>
                        <td id="45"></td>
                      </tr>
                      <tr>
                        <td class="date-column">11:10 11:50</td>
                        <td id="51"></td>
                        <td id="52"></td>
                        <td id="53"></td>
                        <td id="54"></td>
                        <td id="55"></td>
                      </tr>
                      <tr>
                        <td class="date-column">11:50 12:30</td>
                        <td id="61"></td>
                        <td id="62"></td>
                        <td id="63"></td>
                        <td id="64"></td>
                        <td id="65"></td>
                      </tr>
                      <tr>
                        <td class="date-column">12:40 13:20</td>
                        <td id="71"></td>
                        <td id="72"></td>
                        <td id="73"></td>
                        <td id="74"></td>
                        <td id="75"></td>
                      </tr>
                      <tr>
                        <td class="date-column">13:20 14:00</td>
                        <td id="81"></td>
                        <td id="82"></td>
                        <td id="83"></td>
                        <td id="84"></td>
                        <td id="85"></td>
                      </tr>
                      <br>
                      <tr>
                        <td class="date-column">14:10 14:50</td>
                        <td id="91"></td>
                        <td id="92"></td>
                        <td id="93"></td>
                        <td id="94"></td>
                        <td id="95"></td>
                      </tr>
                      <tr>
                        <td class="date-column">14:50 15:30</td>
                        <td id="101"></td>
                        <td id="102"></td>
                        <td id="103"></td>
                        <td id="104"></td>
                        <td id="105"></td>
                      </tr>
                      <tr>
                        <td class="date-column">15:40 16:20</td>
                        <td id="111"></td>
                        <td id="112"></td>
                        <td id="113"></td>
                        <td id="114"></td>
                        <td id="115"></td>
                      </tr>
                      <tr>
                        <td class="date-column">16:20 17:00</td>
                        <td id="121"></td>
                        <td id="122"></td>
                        <td id="123"></td>
                        <td id="124"></td>
                        <td id="125"></td>
                      </tr>
                      <tr>
                        <td class="date-column">17:10 17:50</td>
                        <td id="131"></td>
                        <td id="132"></td>
                        <td id="133"></td>
                        <td id="134"></td>
                        <td id="135"></td>
                      </tr>
                      <tr>
                        <td class="date-column">17:50 18:30</td>
                        <td id="141"></td>
                        <td id="142"></td>
                        <td id="143"></td>
                        <td id="144"></td>
                        <td id="145"></td>
                      </tr>
                      <tr>
                        <td class="date-column">18:40 19:20</td>
                        <td id="151"></td>
                        <td id="152"></td>
                        <td id="153"></td>
                        <td id="154"></td>
                        <td id="155"></td>
                      </tr>
                      <tr>
                        <td class="date-column">19:20 20:00</td>
                        <td id="161"></td>
                        <td id="162"></td>
                        <td id="163"></td>
                        <td id="164"></td>
                        <td id="165"></td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="ModalHorario" class="modal">
    <div class="modal-content">
      <span class="cerrar" (click)="cerrarrModalHorario()">&times;</span>
      <div class="roww">
        <div class="col-md-10">
          <div>
            <h1>Agregar Reserva de clases</h1>
            <div style="display: flex; align-items: center; justify-content: center;">
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <form [formGroup]="formularioReserva">

                    <div class="form-group">
                      <label for="carrera">Nombre de la carrera:</label>
                      <select id="carrera" formControlName="carrera">
                        <option *ngFor="let carrera of CarrerasSede" [value]="carrera.IdCarrera">{{ carrera.NomCarrera }}</option>
                      </select>
                      <div *ngIf="formularioReserva.get('carrera')?.hasError('required') && formularioReserva.get('carrera')?.touched">
                        Seleccionar una carrera es obligatorio.
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="Curso">Nombre del curso:</label>
                      <select id="Curso" formControlName="Curso">
                        <option *ngFor="let curso of cursosSelect" [value]="curso.IdCurso">{{ curso.NomCurso }}</option>
                      </select>
                      <div *ngIf="formularioReserva.get('Curso')?.hasError('required') && formularioReserva.get('Curso')?.touched">
                        Seleccionar un curso es obligatorio.
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="FechaLimite">Fecha límite:</label>
                      <input type="date" id="FechaLimite" formControlName="FechaLimite" [min]="getTodayDate()">
                      <div *ngIf="formularioReserva.get('FechaLimite')?.hasError('required') && formularioReserva.get('FechaLimite')?.touched">
                        Seleccionar una fecha límite es obligatorio.
                      </div>
                    </div>

                    <div class="form-group" *ngIf="this.rango!=0">
                      <label for="rango">Número de bloques:</label>
                      <input type="number" id="rango" formControlName="rango" min="1" max={{rango}}>
                    </div>

                    <button  [disabled]="formularioReserva.invalid" (click)="agregarReserva()">Agregar reserva</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
