<app-header></app-header>
<div class="contiene">
    <div class="contiene">
        <div class="container pt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                      <h5 class="card-title">Ciudad de {{ NomCiudad }}</h5>
                      <div>
                        <button *ngFor="let sede of sedes" class="btn btn-primary m-1"
                          (click)="CambiarSede(sede.NomSede,sede.IdSede)">Sede {{sede.NomSede}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encargado">
                <h2 class="card-title mb-4">Aulas de la sede {{NomSedeActual}}</h2>
              </div>
            </div>
          </div>





    <div class="container pt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div >
                            <div  style="display: flex; align-items: center; justify-content: center;">
                                <button *ngFor="let aula of Aulas" class="btn btn-info fs-4 m-1">
                                  {{ aula.NomAula }}
                                </button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="encargado">
                <h2 class="card-title mb-4">Horario del aula ... </h2>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="date-column"></th>
                                        <th>Lunes</th>
                                        <th>Martes</th>
                                        <th>Miércoles</th>
                                        <th>Jueves</th>
                                        <th>Viernes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="date-column">08:10 08:50</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">08:50 09:30</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">09:40 10:20</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">10:20 11:00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">11:10 11:50</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">11:50 12:30</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">12:40 13:20</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">13:20 14:00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td class="date-column">14:10 14:50</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">14:50 15:30</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">15:40 16:20</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">16:20 17:00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">17:10 17:50</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">17:50 18:30</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">18:40 19:20</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="date-column">19:20 20:00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
