table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

.fondocrema{
  background-color: #F5F5F5;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  width: 14.2857%;
  /* Distribuir el ancho en partes iguales para 7 columnas */
}

th {
  background-color: #f2f2f2;
}

.date-column {
  width: 14.2857%;
  /* Mismo ancho para la columna de fechas */
}

.encargado {
  text-align: center;
}


.button-container {
  display: flex;
  /* Muestra los botones en una fila horizontal */
  flex-wrap: wrap;
  /* Permite que los botones se envuelvan cuando no caben en la pantalla */
  justify-content: center;
  /* Centra los botones horizontalmente */
}

.responsive-button {
  margin: 5px;
  /* Agrega un margen entre los botones para separarlos */
  padding: 10px 20px;
  /* Ajusta el relleno (padding) según tus preferencias */
  background-color: #007bff;
  /* Cambia el color de fondo según tus preferencias */
  color: white;
  /* Cambia el color de texto según tus preferencias */
  border: none;
  /* Quita el borde del botón */
  cursor: pointer;
  white-space: nowrap;
  /* Evita que el texto se desborde */
}

/* Agrega estilos responsivos aquí, por ejemplo, para cambiar el tamaño de los botones en pantallas pequeñas */
@media (max-width: 768px) {
  .responsive-button {
    padding: 8px 16px;
  }
}


.button-container,
.encargado {
  text-align: center;
}

td {
  font-weight: bold;
}
