h5{
    margin-top: 2%;
    text-align: center;
}  


.contenedor{
    display: inline-block;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  .cargando {
    padding-top: 35%;
    padding-bottom: 35%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .roww,
  #fotoM,
  #fotoS,
  #editar {
    display: flex;
    flex-direction: column;
    /* Alinea verticalmente el contenido */
    justify-content: center;
    /* Centra verticalmente el contenido */
    align-items: center;
    /* Centra horizontalmente el contenido */
  }
  