<app-header></app-header>

<div class="contiene">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title">Ciudad de {{ NomCiudad }}</h5>
              <div>
                <button *ngFor="let sede of sedes" class="btn btn-primary"
                  (click)="CambiarSede(sede.NomSede,sede.IdSede)">Sede {{sede.NomSede}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="encargado">
        <h2 class="card-title">Áreas de trabajo de la sede {{NomSedeActual}}</h2>
        <button class="btn btn-info" (click)="abrirModalAreaDeTrabajo(true,'',0)">Agregar áreas de trabajo</button>
        <button class="btn btn-secondary" (click)="abrirModalEncargado()">Administrar Encargados</button>
      </div>
    </div>
  </div>


  <div class="container pt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4" *ngFor="let AreasT of AreasDeTrabajo">
          <div class="card-body">

            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title">{{AreasT.NomArea}}</h5>
              <div>
                <button class="btn btn-warning" (click)="abrirModalAreaDeTrabajo(false,AreasT.NomArea,AreasT.IdArea)">Editar</button>
                <button class="btn btn-danger" (click)="eliminarAreasDeTrabajo(AreasT.IdArea)">Eliminar</button>
              </div>
            </div>
            <!-- Crea una fila dentro de la tarjeta principal -->
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-12">
                  <div class="card-body">
                    <h5 class="card-title">Encargado de aula a cargo</h5>
                    <div class="encargado">
                      <div>
                        <p class="card-text" *ngIf="AreasT.NomUsuario!=null">{{AreasT.NomUsuario}} {{AreasT.ApeUsuario}}
                        </p>
                        <p class="card-text" *ngIf="AreasT.NomUsuario==null">Sin asignar</p>
                        <img *ngIf="AreasT.NomUsuario!=null" src="../../assets/Imagenes/perfil.png" class="mx-auto">
                        <img *ngIf="AreasT.NomUsuario==null" src="../../assets/Imagenes/SinPerfil.png" class="mx-auto">
                      </div>
                      <div>
                        <a *ngIf="AreasT.NomUsuario!=null" class="btn btn-danger mx-auto"
                          (click)="delegarAreasDeTrabajo(AreasT.IdArea)">Quitar</a>
                        <a *ngIf="AreasT.NomUsuario==null" class="btn btn-info"
                          (click)="abrirModalAsignar(AreasT.IdArea)">Asignar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                      <h5 class="card-title">Aulas dentro del área</h5>
                      <div>
                        <button class="btn btn-info" (click)="abrirModalAula(null,false,AreasT.IdArea)">Agregar aula</button>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Alumnos totales</th>
                            <th scope="col">Funciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let Aulas of AreasT.Aulas">
                            <th scope="row">{{1+AreasT.Aulas.indexOf(Aulas)}}</th>
                            <td>{{Aulas.NomAula}}</td>
                            <td>{{Aulas.CantidadAlumnos}}</td>
                            <td>
                              <button type="button" class="btn btn-info">Visualizar</button>
                              <button type="button" class="btn btn-warning"
                              (click)="abrirModalAula(Aulas,true,1)">Editar</button>
                              <button type="button" class="btn btn-danger"
                                (click)="eliminarAula(Aulas.IdAula)">Eliminar</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Fin de la fila de las subtarjetas -->

          </div>
        </div>
      </div>

      <!-- Repite este bloque para cada tarjeta adicional -->

    </div>
  </div>
</div>

<div id="ModalAsignar" class="modal">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalAsignar()">&times;</span>
    <h2>Seleciona al encargado</h2>
    <select #select>
      <option value="">Selecciona una persona</option>
      <option *ngFor="let Encargado of Encargados" [value]="Encargado.IdUsuario">{{Encargado.NomUsuario}}
        {{Encargado.ApeUsuario}}</option>
    </select>
    <a class="btn btn-info" (click)="Asignar(select.value)">OK</a>
  </div>
</div>

<div id="ModalAreaDeTrabajo" class="modal">
  <div class="modal-content" >
    <span class="cerrar" (click)="cerrarModalAreaDeTrabajo()">&times;</span>
    <h2 *ngIf="tipoModalAreaDeTrabajo">Agregar área de trabajo</h2>
    <h2 *ngIf="!tipoModalAreaDeTrabajo">Editar área de trabajo {{nomAreaDeTrabajoSeleccionada}}</h2>
    <form id="personForm">
      <div class="form-group">
        <label for="nombre">Nombre del área de trabajo:</label>
        <input (input)="nomAreaDeTrabajoInputChange($event)" #nombre type="text" id="nombre" name="nombre" [value]="nomAreaDeTrabajoSeleccionada" required>
      </div>
    </form>
    <a class="btn btn-info" (click)="EditarOAgregarAreaDeTrabajo()">OK</a>
  </div>
</div>

<div id="ModalAula" class="modal">
  <div class="modal-content" *ngFor="let AulaS of AulaSeleccionada">
    <span class="cerrar" (click)="cerrarModalAula()">&times;</span>
    <h2 *ngIf="tipoModalAula">Editar el Aula {{AulaS.NomAula}}</h2>
    <h2 *ngIf="!tipoModalAula">Agregar Aula </h2>
    <form id="personForm">
      <div class="form-group">
        <label for="nombre">Nombre del aula:</label>
        <input (input)="nombreInputChange($event)" #nombre type="text" id="nombre" name="nombre" [value]="AulaS.NomAula" required>
      </div>
      <div class="form-group">
        <label for="edad">Cantidad de alumnos:</label>
        <input (input)="edadInputChange($event)"  min="0" #cantidad type="number" id="cantidad" name="cantidad" [value]="AulaS.CantidadAlumnos" required>
      </div>
    </form>
    <a class="btn btn-info" (click)="EditarOAgregarAula()">OK</a>
  </div>
</div>

<div id="ModalEncargado" class="modal">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalEncargado()">&times;</span>
    <h2>Listado de encardos de aula</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title">Encargados de la sede {{NomSedeActual}}</h5>
              <div>
                <button class="btn btn-info" (click)="abrirModalEncargadoAE(true,-1)">Agregar encargado</button>
              </div>
            </div>
            <div class="col-md-12">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Funciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let encargado of Encargados">
                    <th scope="row">{{1+Encargados.indexOf(encargado)}}</th>
                    <td>{{encargado.NomUsuario}}</td>
                    <td>{{encargado.ApeUsuario}}</td>
                    <td>
                      <button type="button" class="btn btn-warning"
                      (click)="abrirModalEncargadoAE(false,encargado.IdUsuario)">Editar</button>
                      <button type="button" class="btn btn-danger"
                        (click)="eliminarEncargado(encargado.IdUsuario)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-info" (click)="cerrarModalEncargado()">OK</a>
  </div>
</div>

<div id="ModalEncargadoAE" class="modal">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalEncargadoAE(false)">&times;</span>
    <h2 *ngIf="!tipoModalEncargadoAE">Editar Encargado {{EncargadosSelecionado.NomUsuario}} {{EncargadosSelecionado.ApeUsuario}}</h2>
    <h2 *ngIf="tipoModalEncargadoAE">Agregar Encargado de aula </h2>
    <form id="personFogrm">
      <div class="form-group">
        <label for="nombre">Nombre del encargado:</label>
        <input (input)="EncargadoInputChange(1,$event)" #nombre type="text" id="f" name="nombre" [value]="EncargadosSelecionado.NomUsuario" required>
      </div>
      <div class="form-group">
        <label for="edad">Apellido del encargado:</label>
        <input (input)="EncargadoInputChange(2,$event)" min="0" #cantidad type="text" id="a" name="cantidad" [value]="EncargadosSelecionado.ApeUsuario" required>
      </div>
      <div class="form-group">
        <label for="s">Mail del encargado:</label>
        <input (input)="EncargadoInputChange(3,$event)" min="0" #cantidad type="text" id="sa" name="cantidad" [value]="EncargadosSelecionado.Mail" required>
      </div>
      <div class="form-group">
        <label for="d">Contraseña del encargado:</label>
        <input (input)="EncargadoInputChange(4,$event)" min="0" #cantidad type="text" id="da" name="cantidad" [value]="EncargadosSelecionado.Contrasenia" required>
      </div>
    </form>
    <a class="btn btn-info" (click)="cerrarModalEncargadoAE(true)">OK</a>
  </div>
</div> 

