img {
  width: 60%;
  height: 60%;
}

.btn-danger{
  background-color: #D15B47;
}

.btn-warning{
  background-color: #FF893C;
}
.btn-info{
  background-color: #6FB3E0;
}

.encargado {
  text-align: center;
}

.fondocrema{
  background-color: #F5F5F5;
}

.containe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.cerrar:hover {
  color: red;
}

#tarjetaTabla {
  margin: 5vh;
}

.container-editaraula {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container-editaraula h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus {
  border: 1px solid #007bff;
  outline: none;
}

.form-group .error {
  color: red;
}

.btn-editaraula {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-editaraula:hover {
  background-color: #0056b3;
}

span {
  font-size: 300%;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.form-control:focus {
  border: 1px solid #007bff;
  outline: none;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.cargando {
  padding-top: 35%;
  padding-bottom: 35%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.roww,
#fotoM,
#fotoS,
#editar {
  display: flex;
  flex-direction: column;
  /* Alinea verticalmente el contenido */
  justify-content: center;
  /* Centra verticalmente el contenido */
  align-items: center;
  /* Centra horizontalmente el contenido */
}
